<header class="header">
  <div class="row">
      <div class="col-lg-6">
        <div class="title"><a href="/index">EMOS LIVE</a></div>
      </div>

      <div class="col-lg-6 menu">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="/config"><i class="fas fa-cogs"></i></a>
          </li>
          <!--<li class="list-inline-item"><a href="/index">
            <i class="fas fa-heartbeat"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#">Menu 2</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Menu 3</a>
          </li>-->
        </ul>
      </div>

  </div>
</header>