{% extends 'layouts/base.html' %}
{% block title %}Compte utilisateur{% endblock %}
{% block body %}
    <!--The menu is handled with a list of the pages-->
 <div class="wrapper">
   <div class="container-fluid">
    <!-- Liste rigs-->
       <div class="row mg-t-25">
           <div class="col-xl-12">
               <div class="card-box">
                <h2>A Propos de EMOS-Live</h2>
                   <p>Emos-Live à été conçus pour la réalisation du projet 13 du parcours Openclassrooms "Développeur d'application - Python"<br></p>
               </div>
           </div>
       </div>
    </div>
 </div>

{% endblock %}