{% extends 'layouts/base.html' %}
{% block title %}Configuration{% endblock %}
{% block body %}
    <!--The menu is handled with a list of the pages-->
 <div class="wrapper">
   <div class="container-fluid">
    <!-- Liste rigs-->
       <div class="row mg-t-25">
           <div class="col-xl-12">
               <div class="card-box">
                    <form action="/_save_conf" method="post">
                        <section class="row row-sm mg-b-30 cfg">
                            <div class="col-lg-10">
                                <legend>Réglages</legend>
                                {% if error %}
                                    <p class="error"><strong>Erreur : </strong>{{ error }}</p>
                                {% endif %}
                                {% with messages = get_flashed_messages() %}
                                  {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show msg-ok" role="alert">
                                          <strong>Sauvegardé!</strong> {{ message }}
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                    {% endfor %}
                                  {% endif %}
                                {% endwith %}

                                <div class="form-group">
                                  <label for="api_key">Clé API :
                                      <a data-toggle="tooltip" data-placement="bottom" title="Entrer la clé API fournis dans les paramétres de compte du Rigcenter"><i class="fas fa-question-circle"></i></a>
                                  </label>
                                  <input id="api_key" name="api_key" type="text" class="form-control" value="{{ API_KEY }}" placeholder="Clé API EMOS..." required >
                                  <input name="api_key" type="hidden" value="{{ API_KEY }}">
                                </div>
                                <div class="form-group">
                                  <label for="type">Affichage index :
                                      <a data-toggle="tooltip" data-placement="bottom" title="Sélectionnez le mode d'affichage de la page principale"><i class="fas fa-question-circle"></i></a>
                                  </label>
                                  <select id="type" name="type" class="form-control">
                                    <option value="0" {% if type=="0" %} selected="selected"{% endif %}>Blocks</option>
                                    <option value="1" {% if type=="1" %} selected="selected"{% endif %}>Liste</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                    <label for="type">Durée rétention statistiques:
                                        <a data-toggle="tooltip" data-placement="bottom" title="Définis le temps pour le calcul de disponibinité"><i class="fas fa-question-circle"></i></a>
                                    </label>
                                  <select id="range" name="range" class="form-control">
                                    <option value="2160" {% if day=='2160' %} selected="selected"{% endif %}>3 jours </option>
                                    <option value="3600" {% if day=='3600' %} selected="selected"{% endif %}>5 jours</option>
                                    <option value="5040" {% if day=='5040' %} selected="selected"{% endif %}>7 jours</option>
                                  </select>
                                </div>

                            </div>
                            <div class="col-lg-2 cfg_show_block">
                              <legend>Affichage blocks
                                  <a data-toggle="tooltip" data-placement="bottom" title="Sélectionnez les block à afficher sur la page principale"><i class="fas fa-question-circle"></i></a>
                              </legend>
                                 <div class="custom-control custom-checkbox">
                                   <input type="checkbox" class="custom-control-input" id="nbgpu" name="nbgpu" {{ nbgpu }} >
                                   <label class="custom-control-label" for="nbgpu">Afficher le block nombre de GPUs</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                   <input type="checkbox" class="custom-control-input" id="uptime" name="uptime" {{ uptime }}>
                                   <label class="custom-control-label" for="uptime">Afficher le block Uptime</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                   <input type="checkbox" class="custom-control-input" id="minetime" name="minetime" {{ minetime }}>
                                   <label class="custom-control-label" for="minetime">Afficher le block temps miner</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                   <input type="checkbox" class="custom-control-input" id="hashtotal" name="hashtotal" {{ hashtotal }}>
                                   <label class="custom-control-label" for="hashtotal">Afficher le block hash total</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                   <input type="checkbox" class="custom-control-input" id="pwtotal" name="pwtotal" {{ pwtotal }}>
                                   <label class="custom-control-label" for="pwtotal">Afficher le block conso total</label>
                                </div>
                            </div>
                        </section>
                        <section class="row row-sm mg-b-30">
                            <div class="col-lg-10">
                                <input type="submit" class="btn btn-primary btn-conf" value="Enregistrer"><br>
                            </div>
                            <div class="col-lg-2 cfg_show_block">
                            </div>
                        </section>
                </form>
               </div>
           </div>
       </div>
    </div>
 </div>

{% endblock %}
