{% extends 'layouts/base.html' %}
{% block body %}
    <!--The menu is handled with a list of the pages-->
    <div class="container-fluid">
    <!-- Shoutbox-->
    <div id="shoutbox" class="list_rigs">
        <div class="row">
            <div id="msg" class="col-lg-offset-3 col-lg-6">
                <div class="row" id="row" >

                    <div id="nom_rig" ></div>
                    <div id="hash_rig" ></div>
                    <div id="pw_rig" ></div>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
