{% extends 'layouts/base.html' %}
{% block body %}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="wrapper">
            <div class="container-fluid">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-success alert-dismissible fade show save-conf mg-t-25 msg-ok" role="alert">
                        {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <div class="row mg-t-25">
                    <div class="col-xl-2 col-md-4">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">RIGs</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <h2 class="font-weight-normal mb-1"> <span class="badge badge-primary badge-pill" id="tt_rig"></span> </h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-2 col-md-4">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">GPUs</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <h2 class="font-weight-normal mb-1"> <span class="badge badge-primary badge-pill" id="tt_gpu"></span> </h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-2 col-md-4">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Consommation (Watt)</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <h2 class="font-weight-normal mb-1"> <span class="badge badge-danger badge-pill" id="tt_pw"></span> </h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-2 col-md-4">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Disponibilité</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <h2 class="font-weight-normal mb-1"> <span class="badge badge-pill average" id="availability"></span> </h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-2 col-md-4">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Hors ligne</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <h2 class="font-weight-normal mb-1"> <span class="badge badge-pill" id="hl_rig"></span> </h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-2 col-md-4">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Alarmes active</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <h2 class="font-weight-normal mb-1"> <span class="badge badge-danger badge-pill" id="tt_events"></span> </h2>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->
                </div>
                <!-- end row -->

    {% if type == '0' %}

       <div class="col-lg-10">
          <legend>Status</legend>
          <div class="row" id="row" ></div>
       </div>

    {% else %}

                <div class="row">
                    <div class="col-xl-6">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Status</h4>
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>Nom rig</th>
                                        <th>Nombre Gpu</th>
                                        <th>Uptime</th>
                                        <th>Hash</th>
                                        <th>conso</th>
                                    </tr>
                                    </thead>
                                    <tbody id="rigs"></tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->


                    <div class="col-xl-6">
                        <div class="card-box">
                              <h4 class="header-title mt-0 mb-3">Événements
                                  <button class="btn btn-success clear_events" data-toggle="modal" data-target="#modalValid">Aquitter</button>
                              </h4>

                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                      <th>#ID</th>
                                      <th>Nom rig</th>
                                      <th>Evénements</th>
                                      <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="events"></tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->

                </div>
                <!-- end row -->
    {% endif %}
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

{% endblock %}
